$black: #000;
$white: #fff;

$darkblue_main: #323264;
$darkblue_main_ph: #46466E;
$softblue_main: #686887;

$lightgrey_bg: #F5F5FA;
$grey_bg: #EDEDF7;
$grey_text: #B3B3BA;
$grey_separator: #E6E6F0;

$red_accent: #F0145A;
$blue_active: #24A3FF;
$blue_inactive: #24a4ff20;
$blue_hover: #0085FF;
$blue_active_active: #006CCF;
